<!DOCTYPE html>
<html>
    <head>
        <title>Kennedy's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Welcome to Kennedy's blog!</a></h1>
        </header>

        <article>
            <h2><a href="/">My first post!</a></h2>
            <time>Published on 05/23/2023 at 09:21 AM</time>
            <p>This is my first post on this blog. I am looking forward to more!</p>
        </article>

        <article>
            <h2><a href="/">My second post</a></h2>
            <time>Published on 05/23/2023 at 10:30 AM</time>
            <p>This is my second post on this blog. I am looking forward to more!</p>
        </article>
    </body>
</html>